# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.json

# IntelliJ Related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code Related
.vscode/

# Flutter/Dart/Pub Related
**/doc/api/
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_plugins/
**/ios/Flutter/ephemeral/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Related
**/android/.gradle/
.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/src/main/assets/flutter_assets
**/android/app/build
**/android/app/debug.keystore
**/android/app/profile.keystore
**/android/app/release.keystore
test_output.txt

# iOS Related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/

# macOS Related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/.symlinks/

# Linux Related
**/linux/flutter/ephemeral/

# Windows Related
**/windows/flutter/ephemeral/

# Web Related
.web_assets/
.web_entrypoint.js

# Environment variables and secrets
.env
.env*

# -------------------------------------------------------------------------
# Exclude Backend Repository (Separated into its own Git repository)
# -------------------------------------------------------------------------
/backend/
